<div class="container my-5 py-5">
     <form (ngSubmit)="add()">
        <div class="form-group">
          <!-- Titulo -->
          <label for="exampleInputEmail1">Titulo</label>
          <input  class="form-control"  name="titulo" [(ngModel)]="notas.titulo">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <!-- Fecha -->
        <div class="form-group">
          <label for="exampleInputPassword1" class="d-block ">Fecha</label>
          <!-- DatePicker -->
          <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="notas.fecha" name="fecha">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          
          </div>
         <!-- Contenido -->
        <div class="form-group">
          <label class="" for="exampleCheck1">Contenido</label>
          <textarea class="form-control is-invalid" placeholder="" name="contenido" [(ngModel)]="notas.contenido"></textarea>        
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
      </form>  
</div>
<div class="my-5 py-5"></div>
<div class="my-5 py-5"></div>
<div class="my-5 py-3"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se ha guardado correctamente
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>