<div class="container my-5 py-5">
    <h2 class="display-4 my-2">Nota</h2>
    <hr>
    <h3 class="">Titulo: {{notas[index].titulo}}</h3>
    <p class="text-muted">{{notas[index].fecha}}</p>
    <p>{{notas[index].contenido}}</p>
</div>
<div class="Scroll">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>
<!-- <div class="my-5 py-5"></div>
<div class="my-5 py-5"></div>
<div class="my-5 py-5"></div>
<div class="my-5 py-5"></div> -->


